.product-co {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-co_info {
    padding-left: 20px
}

.product-co_info > button {
    background: #6c95bb;
    border: 1px solid;
    margin-top: 10px;
    border-color:#543d7a #096c71 #082e58;
    color: #111;
}

.product-co_image {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }

.product-co_rating {
    display: flex;
  }

.product-co_name {
    font-size: 17px;
    font-weight: 800;
}